.productContainer {
  margin: 24px 0;
  padding: 0 16px;
  margin-bottom: 24px;
  .title {
    margin-bottom: 16px;

    p {
      font-size: 22px;
      font-weight: 400;
      line-height: 35.2px;
      text-align: center;
    }
  }
  .productItem {
    width: 200px;
    height: 334px;
  }
}
